/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.hamburger{
  color: #ccc;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .9s;
  transform-origin: center;
  display:none;
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align:center;
  border-radius: 100%;
  right:10px;
  top:20px;
  z-index: 2;

}

.hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #ccc;
  box-shadow: 
    0 0.25em 0 0 #ccc,
    0 0.5em 0 0 #ccc;
}


.hamburger.fs:before{
  background: #666;
  box-shadow: none;
  content: "X";
  font-family: 'Raleway', sans-serif;
  color: #ccc;
  height: 52px;
  padding: 0 10px;

}


#header{
    margin-bottom:30px;
}

.logoimg{
    margin-top :20px;
    margin-left:40px;

}

ul.topnav {
    list-style-type: none;
    margin-top: 17px;
    overflow: hidden;
    background-color:none;
    
    display: inline-block;
    
}

ul.topnav li {
  float: left;
  padding:0 30px;
}

ul.topnav li a{
    text-decoration: none;
    color: #777; 
    font-family: "Open Sans";   
    font-size: 18px;    
    font-weight: 600;   
    line-height: 30px;

}

.bluebutton{
    border-radius: 30px;    
    background-color: #2CAAB7;
    font-family: "Open Sans";
    color:white;
    padding:12px 25px;
    text-transform: uppercase;
    border:none;
}

nav{

    float: right;
}

nav a:hover{
    color:#2CAAB7!important;
}

nav ul ul {
    display: none;
    list-style: none;
    position: absolute; 
    background-color: white;
    border:1px solid #ccc;
    padding-left: 0;
    width:180px;
    z-index: 100;
    
}
    
nav ul li:hover > ul {
    display:inherit;
}


nav a {
    display:block;
    padding:0 10px; 
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}


/* Fisrt Tier Dropdown */
nav ul ul li {
    width:70px;
    float:none !important;
    display:block;
    position: relative;
    padding:10px 10px !important;
}

li > a:after { 
    content:  '';
    display: inline-block;
    width: 16px; height: 16px;
    margin-left: 15px;
    background: url('../img/down_arrow.png') no-repeat; 
}
li > a:only-child:after { 
    display: none;
 }

 #index .index,#documan .products,#kitchenplan .products,#leadtracker .products,#aboutus .aboutus,#contact .contact{

        color: #2CAAB7;
 }

.contactbutton{
    border-radius: 30px;    
    background-color: #2CAAB7;
    font-family: "Open Sans";
    padding:12px 25px;
    color:white;
    border:none;
}

#enquiry{
    
    margin:70px 50px;
}

.slider { 
    width: 100%; 
    padding-bottom: 25%; 
}
.slider img{ 
    width: 100%; 
}

.wrapper { 
    width: 100%; 
    margin: 0; 
}


#title h1{
        color: #444444; 
        font-family: "Open Sans";   
        font-size: 30px;    
        font-weight: 300;
        text-align: center;
        padding-top:40px;
}



#desc p{
      font-family: "Open Sans";   
      font-size: 15px;
      color:#333;
      line-height: 26px;
      font-weight: normal;
      text-align: center;
      margin:0 50px;
      padding-left:25px;
      padding-right:25px;
      margin-bottom: 60px;
}

#banner img{
    width:100%;
}

.blocks{
    list-style: none;
}

.blocks li{
    width:28%;
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 18px;
    display: inline-block;
    padding-right: 50px;
    margin-bottom:25px;
}

.blocks h4{
    color: #222222; 
    font-family: "Open Sans";   
    font-size: 28px;
    font-weight:300;
    margin: 0;
    margin-top: 10px;

}

.blocks h3{
        color: #2CAAB7; 
        font-family: "Open Sans";   
        font-size: 28px;
        margin: 0;
        text-transform: uppercase;
}

.blocks h2{
       color: #999999;  
       font-family: "Open Sans";   
       font-size: 20px;
        margin: 0;
        text-transform: uppercase;
}

.blocks p{
    font-family: "Open Sans";   
    font-size: 15px;
    color:#333;
    line-height: 26px;
}


#clients{
        background-color: rgba(144,151,165,0.06);
        padding:40px;
}


#clients li{
    display:inline-block;
    width:22%;
    padding-top:25px;
    text-align: center;
}

#clients img{
    max-width: 60%;
}

#customertestimonials{
    text-align: center;
}

#customertestimonials h2{
        color: #333333; 
        font-family: "Open Sans";   
        font-size: 30px;    
        font-weight: 300; 
        margin: 0;  
        
}

#customertestimonials p{
        color: #999999; 
        font-family: "Open Sans";   
        font-size: 20px;   
        margin-top: 10px; 

}


.documanuses{
    text-align: center;
}

.documanuses h2{
        color: #444444;
        font-family: "Open Sans";   
        font-size: 40px;    
        font-weight: 300; 
        margin-top: 20px; 
        margin-bottom:10px; 
        
}

.documanuses p{
        color: #444444; 
        font-family: "Open Sans";   
        font-size: 20px;   
        margin-top: 5px; 
        line-height: 30px;

}

#success{

        background-color: rgba(144,151,165,0.06);
        padding-bottom: 30px;
        padding-top:5px;
}


.storylogos{
    text-align: center;
}

#success h2{
    color: #444444; 
    font-family: "Open Sans";   
    font-size: 30px;   
    font-weight: 300;   
    line-height: 30px;  
    text-align: center;
    margin: 40px 50px; 
    padding:0 80px;
    padding-top: 50px;
        
}

#success h1{
    text-align: center;
    color: #444444; 
    font-family: "Open Sans";   
    font-size: 40px;    
    font-weight: 300;
    margin:40px 30px;
}

#success .quote{
    color: #444444; 
    font-family: "Open Sans";   
    font-size: 26px;    
    font-weight: 300;   
    line-height: 35px;  
    text-align: center;
    margin-top:0;
    padding-top:0;
}

#success p{

    font-family: "Open Sans";   
    font-size: 15px;
    color:#333;
    line-height: 26px;
    font-weight: none;
    margin-bottom: 20px;
    padding:0 80px;
}

#success .customerimg{
    
    border-radius: 50%;
    padding:30px 0;

}

#success .clientlogo{
    width:80%;
}

#success .logoimg{
    width:100%;
    padding-top:-100px;
}

#success .plus{
    height:100px;
    width: 100px;
    font-weight: bold;
    font-size: 60px;
    line-height: 88px;
}

#success li{
    display: inline-block;

    
}



.mainlogos h2{
    padding-top:20px;
    color: #444444; 
    font-family: "Open Sans";   
    font-size: 40px;    
    font-weight: 300;
    text-align: center;
}

#logos li{
    display: inline-block;
    margin:20px 50px;
    padding-left: 60px;
}

.clientname{
    display: block;
    text-align: center;
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 20px;    
    font-weight: 600;
}

.designation{
    display: block;
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 20px;    
    font-style: italic;
    text-align: center;
}

#testimonials{
    margin-top:50px;
}

#testimonials li{
         
        width: 40%;   
        border: 1px solid #CCCCCC;  
        border-radius: 6px; 
        background-color: rgba(216,216,216,0);
        display: inline-block;
        padding: 15px;
        margin:0 40px;
}

#testimonials p{
    font-family: "Open Sans";  
    color: #333333; 
    font-size: 15px;

}

#testimonials img{
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #ccc;
    float:left;
}

.customername{
    display: block;
    text-align: right;
    font-weight: 600;
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 15px;
}

.companyname{
    display: block;
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 15px;    
    font-style: italic;
    text-align: right;
}

.mainproducts{
    
    margin-top:50px;
    padding:20px 20px;
    background-color:  rgba(144,151,165,0.06);

}

.mainproducts h2{
        color: #333333; 
        font-family: "Open Sans";   
        font-size: 28px;    
        font-weight: 300;
        padding:0;
        margin-left:40px;
}

#products li{
    display: inline-block;
    width:27%;
    border: 1px solid #EEEEEE;  
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 40px;

}


#products h2{
    text-transform: uppercase;
    font-family: "Open Sans";   
    color: #999999;
    font-size: 20px;    
    font-weight: 600;
    text-align: center;
}

#products p{
    color: #333333; 
    font-family: "Open Sans";   
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    margin-bottom: 30px;
    

}

.productbutton{
    border-radius: 30px;    
    font-family: "Open Sans";
    border: 1px solid #999999;
    padding:12px 25px;
    text-transform: uppercase;
    background-color: rgba(216,216,216,0);
}

.overlapbutton{
    margin-left:-25px;
}

.requestdemo{
       
        border: 1px solid #CCCCCC;  
        border-radius: 6px; 
        background-color: #F9F9FA;
        width:80%;
        margin:40px 120px;
}

.requestdemo ul{
    padding-left:0;
}

.requestdemo li{
    display: inline-block;

    margin-left:25px;
    padding:15px 55px;
}

.textinput{
    border: none;
  background: transparent;
  border-bottom: 2px solid #CCCCCC;
  outline: none;
  width:90%;
  color: #333;   
  font-family: "Open Sans";   
  font-size: 18px;    
  font-weight: 300;

}

#footer{
        background: linear-gradient(179.52deg, rgba(77,81,90,0.8) 0%, rgba(125,129,152,0.8) 100%);
        padding: 15px 45px;
       

}

#footer:after{
    content: "";
    clear: both;
    display: table;
}
#footer p{
    padding-bottom:20px:;
}

.address{
    float: left;
}

.address img{
    vertical-align: top;
    margin-top: 17px;
    margin-right: 15px;
    display: inline-block;
}

.address p{
    display: inline-block;
    color: #EEEEEE; 
    font-family: "Open Sans";   
    font-size: 17px;    
    line-height: 25px;
}

.contact{
    float: right;
    color: #FFFFFF; 
    font-family: "Open Sans";   
    font-size: 15px;    
    font-weight: bold;
}

.contact li{
    display: inline-block;
}

.phone{
    padding-right: 25px;
}

.social li{
    padding-right: 20px;
}

.social img{
    width:80%;

}

.location{
    margin-bottom: 100px;
}

.location li{
    display: inline-block;
    width:46%;
    vertical-align: middle;
    padding:80px 0;
    

    }



.locationaddress{
        background-color: #445371;
        
        padding-left: 50px;
        padding-top:0;
        margin-top:0;

}

.locationaddress p{
        color: #FFFFFF; 
        font-family: "Open Sans";   
        font-size: 24px;    
        line-height: 40px;
        padding-left:50px;
}

.locationaddress img{
    padding-left: 50px;
}

.locationaddress span{

    color: #FFFFFF; 
    font-family: "Open Sans";  
    font-size: 18px;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 360px;
    position: relative;
    padding:20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.container ul{
    list-style: none;
    padding-left:0;
}

.modal h2{
    text-transform: uppercase;
    font-family: "Open Sans";   
    color: #666;
    font-size: 20px;    
    font-weight: 600;
    
}
.container li{

    padding:20px 10px;

}

.container h3, #message h3{

    font-family: "Open Sans";   
    color: #00cc66;
    font-size: 20px;    
    font-weight: 600;
    text-align: center;


}

#sendinginfo{
    font-family: "Open Sans";   
    color: #666;
    font-size: 12px;  
    display: none;
    list-style: none;

}


/* responsive ---------*/

/*-------------------------------------------------- For Tablets -----------------------------------------------------------*/


@media (min-width: 768px) and (max-width: 1024px) {

.logoimg{
    width:25%;
}

ul.topnav{
    float:right;
    display: inline-block;
    padding-left:0;
    margin-right: 30px;
}

ul.topnav li {
  float: left;
  padding:0 5px;
  margin-left: 0;
}

ul.topnav li a{
  
font-size: 15px; 

}
.bluebutton{
    border-radius: 16px;    
    padding:10px 10px;
    font-size: 14px;
}




.blocks h4{
   
    font-size: 25px;
}

.blocks h3{
   
    font-size: 20px;
}

.blocks h2{
   
    font-size: 20px;
}

.blocks p{
   
    font-size: 15px;
}
.blocks{
    margin-bottom: 0;
    padding-bottom: 0;
}

.blocks li{
    width:40%;
}

#success li{
    width:30%;

}

#success h2 #success.quote{
    font-size: 25px;
    margin-top:20px;
}

#success p{
    font-size:18px;
    padding:10px 40px;
}

#success .customerimg{
    
    margin:30px 300px;
}

#logos li{
    margin:20px 20px;
    padding-left: 0;
}

#clients img{
    max-width: 80%;
}

#customertestimonials h2{

    font-size: 25px;
}

#customertestimonials p{

    font-size: 20px;
}

#testimonials li{
    width:39%;
    margin:0 22px;
}

#products{
    overflow-x: auto;
    white-space: nowrap;

}

#products p{
    white-space: normal;
}

#products li{
    width: 30%;
}

#enquiry{
    margin:70px 30px;
}
#enquiry li{
    
    width:25%;
}
.productbutton{
    border-radius: 18px;    
    padding:10px 17px;
    font-size: 12px;
}

.overlapbutton{
    margin-left:-19px;
}

.requestdemo{
       
        margin:40px 75px;
}

.requestdemo li{
    padding:25px 10px;

}

.textinput{
    width:90%;
}

.location li{
    padding:70px 0;
}
.locationaddress p{
    font-size:18px;
    padding-left:20px;

}

.locationaddress img{
    padding-left:20px;
}

#footer{
    width:87%;
}
.address{
    width: 220px;
}
.address p{
    font-size: 13px;
}

.address img{
    margin-right: 10px;
    width: 40%;
}

.contact ul{
    margin-left: 0;
}




}

/* --------------------------------------------------------------   mobile -------------------------------------------------*/

@media (min-width: 320px) and (max-width: 480px) {

#header{
    position: fixed;
    background: #fff;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
}

nav{
    float:none;

}
.wrapper {
    padding-top: 70px;
}
.hamburger{
    display:block;
    position: absolute;
  }


.logoimg{
    width:40%;
    margin-left:25px;
}
ul.topnav{
    display: none;
}    


ul.topnav.fs {
    display: block;
    width: 100%;
    pointer-events:auto;
    background-color: #666666;
    padding-left: 0;
  }

ul.topnav.fs li{
  
    float:none;
    padding:15px 40px;
    border-bottom: 1px dotted #777;
  }

ul.topnav.fs li a{
  
    color:white;
    font-size:16px;
    font-weight: 400; 
  }


#submenu{
    width:78%;
    display: none;
}

#submenu li{
    width:94%;
}

#submenu li a{

    color:#333;

  }

.bluebutton{
    padding:10px 10px;
    border-radius: 15px; 
    font-size: 12px;
}

.menupadding{
    padding-top: 390px;
}

#banner img{
    padding-top: 70px;
    padding-bottom: 20px;
}

#enquiry{
    
    margin:0;
    padding-left:35px;
    padding-bottom: 20px;
}
.storylogos{
    width:50%;

}

#title h1, #success h1{
    font-size: 22px;
}

#success h2{
    font-size: 18px;
    padding:0;

}

#success .quote{
    font-size: 18px;
}

#success p{
    font-size:14px;
    padding:10px 40px;
}

#success .plus{
    font-size:40px;
    height:50px;
    width:50px;
}

#desc p{
    padding-left:0;
    margin-left:30px;
    margin-right: 0;
    text-align: left;
}

.mainlogos h2{
    font-size:23px;
    text-align: center;
    padding-left:20px;
}



#logos img{
    width:70%;
    padding-left:0;
}

.blocks li{
    width:90%;
    padding-right:0;
}


#clients img{
    max-width: 90%;
}

#clients li{
    width: 40%;
    display: inline-block;
    padding-right: 25px;

}

#customertestimonials h2{

    font-size: 22px;
}

#customertestimonials p{

    font-size: 15px;
    padding:0 15px;
}

#testimonials li{
    width:84%;
    padding:5px 10px;
    margin-bottom: 20px;
    margin-left: 0;
}

#testimonials img{
    float: none;
    width:35%;
    margin-top:20px;
}

#products li{
    width: 70%;
    margin-bottom: 20px;

}

#products{
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0;
}

#products p{
    white-space: normal;
}

.productbutton{
    border-radius: 15px;    
    padding:10px 15px;
    font-size: 10px;
}

.overlapbutton{
    margin-left:-16px;
    border-radius: 15px;    
    padding:10px 15px;
    font-size: 10px;
}

.requestdemo{

    margin:30px 35px;
}


.requestdemo ul{
    padding-left:20px;
}


.requestdemo li{
       
        margin-left:0;
        padding-left:0;
        width:90%;
}

.textinput{

    font-size:15px;
    width:90%;
}



.location li{
    width:84%;
    padding:2px 5px;
}


.locationaddress p{
    font-size:14px;
    padding-left:20px;
}

.locationaddress span{
    font-size:14px;
}

.locationaddress img{
    padding-left: 20px;
}

.address{
    float: none;
    margin-left: 0;
}


.address p{
    font-size: 14px;
}

.address img{
    margin-right: 10px;
    width: 25%;
}

.contact ul{
    padding-left:0;
}

.social{
    padding-left: 0;

 }   

.social li{
    padding-right:4px;
}

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
